@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,700;1,800&display=swap');

html{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow-y: hidden;
}
:root{
    --smokey-gray: hsl(0, 1%, 44%);
    --light-grey: hsl(0, 0%, 86%);
    --white: hsl(0, 0%, 100%);
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
}
body{
    background-image: linear-gradient(to left top, #854dff, #e81dc7, #ff258d, #ff5d5e, #ff8c42);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-content-wrapper{
    width: 35rem;
    height: 25rem;
    background-color: var(--white);
    padding: 3.5em 3.5em;
    border-radius: 25px 25px 125px 25px;
    /*How to center a div down here*/
    inset: 0em;
    margin: auto;
    position: relative;
    top: 4.5em;
    -webkit-box-shadow: -8px 8px 21px 5px rgba(133,77,255,0.32); 
    box-shadow: -8px 8px 21px 5px rgba(133,77,255,0.32);
}
label{
    color: var(--smokey-gray);
    font-weight: 600;
    font-size: .7rem;
    letter-spacing: .2em;
}
.inputs-txt-container{
    display: flex;
    justify-content: space-between;
    width: 20rem;
}
input{
    width: 8rem;
    height: 3rem;
    margin-right: 2em;
    border-radius: 5px;
    border: 2px solid var(--smokey-gray);
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}
.input-container{
    position: relative;
}
.input-container.success input {
    border-color: var(--purple);
}
.input-container.error input {
    border-color: var(--light-red);
}
input:focus{
    outline: none !important;
    border-color: var(--purple);
}
.default-wrapper{
    font-weight: 800;
    font-style: italic;
    display: flex;
    gap: .5em;
}
.default-wrapper > h1{
    font-size: 4rem;
}
.result-wrapper{
    display: flex;
    flex-direction: column;
    line-height: 4.8em;
    gap: 0;
}

.tag{
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}
.result{
    color: var(--purple);
    font-weight: 800;
    font-size: 3rem; 
    margin-bottom: 0;
    margin-top: 0;
}
.line{
    position: relative;
    top: 2.7em;
    right: 2.4em;
    border: none;
    width: 30em;
    border-top: 1px solid var(--light-grey);
}
.sub-btn{
    background-color: var(--purple);
    padding: 1.2em 1.3em;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    border: none;
    display: flex;
    position: relative;
    left: 33em;
    top: 0;
    outline: none;
}
.arrow-svg{
    position: relative;
    bottom: .2em;
}
.sub-btn:hover{
    background-color: #000;
    transition: ease-in .3ms;
}
.required-p{
    color: var(--light-red);
    font-weight: 300;
    font-size: .7rem;
    font-style: italic;
    margin-bottom: 0;
}
@media (max-width: 768px) {
    .main-content-wrapper{
        width: 15em;
    }
    .inputs-txt-container{
        position: relative;
        left: -2.5em;
    }
    .input-container .required-p{
        font-size: .5em;
    }
    .input-container > input{
        width: 5em;
        font-size: 1em;
    }
    .line-submit-wrapper .line{
        width: 17em;
        right: 2em;
    }
    .line-submit-wrapper .sub-btn{
        left: 16em;
    }
    .default-wrapper > h1{
        font-size: 2.6em;
    }
}